# RDF Vocabulary document for $vocab.domain

@prefix dcterms:     <http://purl.org/dc/terms/> .
@prefix owl:         <http://www.w3.org/2002/07/owl#> .
@prefix oslc:        <http://open-services.net/ns/core#> .
@prefix rdf:         <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs:        <http://www.w3.org/2000/01/rdf-schema#> .
@prefix vann:        <http://purl.org/vocab/vann/> .
@prefix vs:          <http://www.w3.org/2003/06/sw-vocab-status/ns#> .
@prefix xsd:         <http://www.w3.org/2001/XMLSchema#> .
@prefix $vocab.prefix:      <$vocab.uri> .


# The ontology resource

$vocab.prefix:
    a owl:Ontology ;
    dcterms:title "$vocab.domain" ;
    dcterms:description "$vocab.description" ;
    rdfs:label "$vocab.domain" ;
    vann:preferredNamespacePrefix "$vocab.prefix" .

#if($classes||$issues)
# Classes

#foreach ($class in $classes)
$vocab.prefix:$class.name
    a rdfs:Class ;
    rdfs:isDefinedBy $vocab.prefix: ;
    rdfs:label "$class.name" ;
    rdfs:comment "$class.description" .

#end
#if($issues)
$vocab.prefix:Issue
    a rdfs:Class ;
    rdfs:isDefinedBy $vocab.prefix: ;
    rdfs:label "Issue" ;
    rdfs:comment "A class for the issues enumeration." .
#end
#end

#if($properties)
# Properties

#foreach ($property in $properties)
$vocab.prefix:$property.name
    a rdf:Property ;
    rdfs:isDefinedBy $vocab.prefix: ;
    rdfs:label "$property.name" ;
    rdfs:comment "$property.description" .

#end
#end

#if($resources)
# Individuals

#foreach ($resource in $resources)
$vocab.prefix:$resource.name
    a rdfs:Resource ;
    rdfs:isDefinedBy $vocab.prefix: ;
    rdfs:label "$resource.name" ;
    rdfs:comment "$resource.description" .

#end
#end

#if($issues)
# Issues

#foreach ($issue in $issues)
$vocab.prefix:$issue.name
    a $vocab.prefix:Issue ;
    rdfs:isDefinedBy $vocab.prefix: ;
    rdfs:label "$issue.name" ;
    rdfs:comment "$issue.description" ;
    $vocab.prefix:severity $vocab.prefix:$issue.severity .

#end
#end

#if($severities)
# The severity enumeration
$vocab.prefix:Severity
    a rdfs:Class ;
    rdfs:isDefinedBy $vocab.prefix: ;
    rdfs:label "Severity" ;
    rdfs:comment "A class for the severity enumeration." .

#foreach ($sev in $severities)
$vocab.prefix:$sev.name
    a $vocab.prefix:Severity ;
    rdfs:isDefinedBy $vocab.prefix: ;
    rdfs:label "$sev.name" ;
    rdfs:comment "$sev.description" .

#end
#end