<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<!-- replace domain-name with your domain name, e.g., Change Management -->
<!-- replace domain-short-name with your domains's short name, e.g., oslc-cm -->
<meta charset='utf-8' />
<head>
<title>OSLC domain-name Specification 3.0</title>
<link rel="stylesheet" type="text/css" href="../styles/oslc-styles.css" />
<link rel="stylesheet" type="text/css" href="../styles/table-styles.css" />
<link rel="stylesheet" type="text/css" href="../styles/definition-styles.css" />
<script src='https://ndjc.github.io/respec/builds/oasis/respec-oasis-common.js' async class='remove'></script>
<script class='remove'>
  var respecConfig = {
      // specification status (WD, CSD, CSPRD, CS, COS, OS, Errata, CND, CNPRD, CN).
    // If in doubt use WD.
    // See http://docs.oasis-open.org/specGuidelines/ndr/namingDirectives.html#stage
    // CSPRD is the most likely document you'll deliver first, so we'll start there.
    specStatus : "CSPRD",

        // the specification's short name with version but no dots
        shortName : "oslc-domain-short-name",

        // if your specification has a subtitle that goes below the main
        // formal title, define it here
        // subtitle   :  "Committee Specification Draft 02",

        // the document's citation label
        citationLabel: "OSLC-domain-name-v2.1",

        // Revision level of the document within its stage
        revision: "01",

        // if you wish the publication date to be other than the last modification, set this
        // publishDate:  "2009-08-06",

        // if the specification's copyright date is a range of years, specify the start date here:
        // copyrightStart: "2005"

        // if there is a previously published draft, uncomment this and set its YYYY-MM-DD date
        // and its maturity status
        // previousPublishDate:  "1977-03-15",
        // previousMaturity:  "WD",

        // Only include h1 and h2 levels in the table of contents
        maxTocLevel: 2,

    // if there a publicly available Editor's Draft, this is the link
    edDraftURI:           "https://github.com/oasis-tcs/oslc-domains/domain-short-name/domain-name.html",

    // Chairs and editors, add as many as you like: you must have at least one editor.
    // Only "name" is required, but the other fields are recommended.
    editors:  [ {
        name:        "Jim Amsden",
        mailto :     "jamsden@us.ibm.com",
        company :    "IBM",
        companyURL : "http://www.ibm.com"
      },
    ],
    chairs : [ {
      name : "Jim Amsden",
      mailto : "jamsden@us.ibm.com",
      company: "IBM",
      companyURL: "http://www.ibm.com/"
    }, {
      name : "Graham Bachelor",
      mailto: "gray_bachelor@uk.ibm.com",
      company: "IBM",
      companyURL: "http://www.ibm.com"
    } ],

    // name of the TC
    wg : "OASIS OSLC Lifecycle Integration Domains TC",
        wgShortName:  "oslc-domains",

    // URI of the public TC page
    wgURI : "https://www.oasis-open.org/committees/oslc-domains/",

        // name (without the @lists.oasis-open.org) of the public mailing to which comments are due
        wgPublicList: "oslc-domains-comment",

    // Namespaces defined by this TC
    namespaces : [ 
      { href: "http://open-services.net/ns/core/domain-short-name#", prefix: "oslc_domain-short-name" }
     ],

        // For multi-part specifications, each part must list the other parts
        // additionalArtifacts : [
        //  { title: "OSLC XXX 1.0 Part 1: Overview (this document)", href: "oslc-xxx.html" },
        //  { title: "OSLC XXX 1.0 Part 2: XXX2", href: "xxx-part2.html" },
        //  { title: "OSLC XXX 1.0 Part 3: XXX3", href: "xxx-part3.html" },
        // ],

        // Related work
        // relatedWork : [
        //    { title: "Some title", href: "http://example.com/relatedDocument.html" },
        //    ],
        // supersedes : [
        //    { title: "Some title", href: "http://example.com/supercededDocument.html" },
        //    ],

    // Other parts of multi-part spec
    additionalArtifacts : [
      { title: "OSLC domain-name Version 2.1. Part 1: Specification (this document)", href: "http://docs.oasis-open.org/oslc-domains/domain-short-name/v2.1/csprd01/part1-domain-short-name/domain-short-name-v2.1-csprd01-part1-domain-name-spec.html" },
      { title: "OSLC domain-name Version 2.1. Part 2: Vocabulary", href: "http://docs.oasis-open.org/oslc-domains/domain-short-name/v2.1/csprd01/part2-domain-name-vocab/domain-short-name-v2.1-csprd01-part2-domain-name-vocab.html" },
    ],

    relatedWork : [
      { title: "Open Services for Lifecycle Collaboration domain-name Specification Version 2.0", href: "http://open-services.net/bin/view/Main/domain-name" }
    ],

        localBiblio : {
            "OSLCCore2" : {
                title:    "OSLC Core 2.0",
                href:     "http://open-services.net/bin/view/Main/OslcCoreSpecification",
                authors:  ["S. Speicher", "D. Johnson"],
                status:   "Finalized",
                publisher:  "http://open-services.net",
            },
            "OSLCCore3": {
                title:     "OSLC Core 3.0",
                href:      "http://tools.oasis-open.org/version-control/svn/oslc-core/specs/oslc-core-v3.html",
                authors:   [ "Steve Speicher", "Jim Amsden" ],
                publisher: "OASIS",
            },
            "OSLCCoreVocab" : {
                title : "OSLC Core Vocabulary",
                href : "http://docs.oasis-open.org/oslc-core/oslc-core/v3.0/oslc-core-v3.0-part7-core-vocabulary.html",
                authors : [ "Jim Amsden", "S. Padgett", "S. Speicher" ],
                status:   "Working Draft",
                publisher : "OASIS",
            },
            "OSLCResourcePreview": {
                title:    "OSLC Core 3.0 Resource Preview",
                href:     "http://docs.oasis-open.org/oslc-core/oslc-core/v3.0/oslc-core-v3.0-part3-resource-preview.html",
                authors:  ["Jim Amsden", "S. Speicher"],
                status:   "Draft",
                publisher:  "OASIS",
            },
            "OSLCTRS3": {
                title:     "Tracked Resource Set Specification Version 3.0",
                href:      "http://tools.oasis-open.org/version-control/svn/oslc-core/specs/tracked-resource-set.html",
                authors:   [ "Jim Amsden", "Nicholas Crossley", "Vivek Garg" ],
                status:    "Committee Specification Draft",
                publisher: "http://open-services.net",
            },
            "OSLCQuery" : {
                title:    "OSLC Core 2.0 Query Capability",
                href:     "http://open-services.net/bin/view/Main/OslcCoreSpecification#Query_Capabilities",
                authors:  ["S. Speicher", "D. Johnson"],
                status:   "Finalized",
                publisher:  "http://open-services.net",
            },
            "LDPPaging": {
                title:    "Linked Data Platform Paging 1.0",
                href:     "https://dvcs.w3.org/hg/ldpwg/raw-file/default/ldp-paging.html",
                authors:  ["S. Speicher", "J. Arwe", "A. Malhotra"],
                status:   "Working Group Note",
                publisher:  "http://www.w3c.org",
            },
            "LDPPatch" : {
                title : "Linked Data Patch Format",
                href : "http://www.w3.org/TR/ldpatch/",
                status : "Working Group Note",
                publisher : "http://www.w3.org/",
            },
            "OSLCShapes": {
                title : "OSLC Resource Shape 3.0",
                href : "https://tools.oasis-open.org/version-control/svn/oslc-core/trunk/specs/resource-shape.html",
                authors : [ "Arthur Ryman", "Jim Amsden" ],
                publisher : "OASIS",
            },
            "OpenIDConnect" : {
                title : "OpenID Connect",
                href : "http://openid.net/connect/",
                publisher : "openid.net",
            },
            "OSLCRM": {
                title:    "Open Services for Lifecycle Collaboration Requirements Management Specification Version 2.0",
                href:     "http://open-services.net/bin/view/Main/RmSpecificationV2",
                authors:  ["Ian Green"],
                status:   "Final",
                publisher:  "http://open-services.net",
            },
            "OSLCQM": {
                title:    "Open Services for Lifecycle Collaboration Quality Management Specification Version 2.0",
                href:     "http://open-services.net/bin/view/Main/QmSpecificationV2",
                authors:  ["Paul McMahan"],
                status:   "Final",
                publisher:  "http://open-services.net",
            },
        },
    };
</script>


</head>
<body>
<section id='abstract'>
  <p>This specification defines the OSLC domain-name domain, a RESTful web
    services interface for the management of domain specifica and supporting resources defined in the OSLC Core specification. To support these scenarios, this specification
    defines a set of HTTP-based RESTful interfaces in terms of HTTP methods: GET,
    POST, PUT and DELETE, HTTP response codes, content type handling and resource
    formats</p>
</section>

<section id='toc'></section>
<hr />

<section id='sotd'></section>

<section id='intro' class='informative'>
  <h2>Introduction</h2>
  <p></p>

<section id="iprPolicy">
<h2>IPR Policy</h2>
    <p>
      This Committee Specification Public Review Draft is being developed under the <a href="https://www.oasis-open.org/policies-guidelines/ipr#RF-on-Limited-Mode">RF on Limited Terms</a> Mode of the <a href="https://www.oasis-open.org/policies-guidelines/ipr">OASIS IPR Policy</a>, the mode chosen when the Technical Committee was established. For information on whether any patents have been disclosed that may be essential to implementing this specification,
      and any offers of patent licensing terms, please refer to the Intellectual Property Rights section of the TC’s web page
      (<a href='{{tcBaseURI}}/{{wgShortName}}/ipr.php'>{{tcBaseURI}}/{{wgShortName}}/ipr.php</a>).
    </p>
</section>

  <section id='terminology' class='informative'>
    <h3>Terminology</h3>
    <p>Terminology is based on OSLC Core Overview [[OSLCCore3]],
      W3C Linked Data Platform [[LDP]],
      W3C's Architecture of the World Wide Web [[WEBARCH]],
      and Hyper-text Transfer Protocol [[HTTP11]].</p>
    <dl class="spaced">
      <dt><dfn>Term1</dfn></dt>
      <dd>Definition 1.</dd>

      <dt><dfn>Term2</dfn></dt>
      <dd>Definition 2.</dd>

    </dl>
  </section>

  <section id='references'><h3>References</h3></section>
  <section id='conventions'></section>
</section>

<section class='informative'>
  <h2>Motivation</h2>
  <p></p>
</section>


<section id='concepts' class='informative'>
  <h2>Basic Concepts</h2>
  <p></p>
</section>

<section id="baseRequirements">
<h2>Base Requirements</h2>

<p>The following sub-sections define the mandatory and optional requirements for an OSLC domain-name (OSLC domain-short-name) server.</p>

<section id="versioning">
<h2 id="specificationversioningspec_versioning">Specification Versioning</h2>

<p>This specification follows the specification version guidelines given in [OSLCCore3].</p>
</section>

<section id="namespaces">
<h2>Namespaces</h2>

<p>In addition to the namespace URIs and namespace prefixes <code>oslc</code>, <code>rdf</code>, <code>dcterms</code> and <code>foaf</code> defined in the [OSLCCore3], OSLC domain-short-name defines the namespace URI of <code>http://open-services.net/ns/domain-short-name#</code> with a namespace prefix of <code>oslc_domain-short-name</code>.</p>

<p>This specification also uses these namespace prefix definitions:</p>

<ul>
<li>oslc_rm : <code>http://open-services.net/ns/rm#</code> [[OSLCRM]]</li>
<li>oslc_qm : <code>http://open-services.net/ns/qm#</code> [[OSLCQM]]</li>
</ul>
</section>

<section id="formats">
<h2>Resource Formats</h2>

<p>In addition to the requirements for resource representations in [[!OSLCCore3]], this section outlines further refinements and restrictions.</p>

<p>For HTTP GET requests on all OSLC domain-short-name and OSLC Core defined resource types,</p>

<ul>
  <li> RM Servers MUST support RDF/XML representations with media-type <code>application/rdf+xml</code>. RM Clients MUST be prepared to deal with any valid RDF/XML document.
  </li> <li> RM Servers MUST support XML representations with media-type <code>application/xml</code>. The XML representations MUST follow the guidelines outlined in the <a href="http://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations">OSLC Core Representations Guidance</a> to maintain compatibility with [[!OSLCCore2]].
  </li> <li> RM Servers MAY support JSON representations with media-type <code>application/json</code>. The JSON representations MUST follow the guidelines outlined in the <a href="http://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations">OSLC Core Representations Guidance</a> to maintain compatibility with [[!OSLCCore2]].
  </li>
</ul> 

<p>For HTTP PUT/POST request formats for resource type of ChangeRequest:</p>

<ul>
<li>domain-name servers MUST accept Turtle and JSON-LD representations and SHOULD accept RDF/XML and XML representations. CM servers accepting RDF/XML SHOULD be prepared for any valid RDF/XML document. For XML, domain-name servers SHOULD be prepared for representations that follow the guidelines outlined in the <a href="http://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations">OSLC Core Representations Guidance</a>.</li>
</ul>

<p>For HTTP GET response formats for Query requests,</p>

<p>domain-name servers MUST provide Turtle and JSON-LD, SHOULD provide RDF/XML, XML, and MAY provide Atom Syndication Format XML representations.</p>

<p>When domain-name clients request:</p>

<ul>
<li><code>text/turtle</code> domain-name servers MUST respond with Turtle representation.</li>
<li><code>application/ld+json</code> domain-name servers MUST respond with JSON-LD representation.</li>
<li><code>application/rdf+xml</code> domain-name servers SHOULD respond with RDF/XML representation without restrictions.</li>
<li><code>application/xml</code> domain-name servers SHOULD respond with OSLC-defined abbreviated XML representation as defined in the <a href="http://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations">OSLC Core Representations Guidance</a></li>
<li><code>application/atom+xml</code> domain-name servers SHOULD respond with Atom Syndication Format XML representation as defined in the <a href="http://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations">OSLC Core Representations Guidance</a></li>
<li>The Atom Syndication Format XML representation SHOULD use RDF/XML representation without restrictions for the atom:content entries representing the resource representations.</li>
</ul>

<p>See Query Capabilities for additional information when Resource Shapes affect representation.</p>

<section id="contentNegotiation">
<h2>Content Negotiation</h2>

<p>[[!OSLCCore3]] specifies RDF representations (and specifically Turtle and JSON-LD) as a convention that all OSLC server implementations minimally provide and accept. OSLC domain-name server implementations are strongly encouraged to adopt this convention. Future versions of this specification are expected to require RDF representations for all operations and relax requirements for specialized XML representations.</p>

<p><strong>XML Representation</strong> - identified by the <code>application/xml</code> content type. Format representation rules are outlined in Core <a href="http://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations">OSLC Core Resource Formats section</a></p>

<p><strong>RDF/XML Representation</strong> - identified by the <code>application/rdf+xml</code> content type. No additional guidance is given.</p>

<p><strong>JSON-LD Representation</strong> - identified by the <code>application/ld+json</code> content type. Format representation rules are specified in <a href="http://www.w3.org/TR/json-ld/">JSON-LD 1.0</a>.</p>

<p><strong>Atom Syndication Format XML Representation</strong> - identified by the <code>application/atom+xml</code> content type. Format representation rules are outlined in Core <a href="http://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations">OSLC Core Resource Formats section</a>.</p>
</section>
</section>

<section id="authentication">
<h2>Authentication</h2>

<p>[[!OSLCCore3]] specifies the recommended OSLC authentication mechanisms. In addition to the OSLC Core authentication requirements, OSLC domain-name services providers SHOULD support [[!OpenIDConnect]].</p>
</section>

<section id="errors">
<h2>Error Responses</h2>

<p>[[!OSLCCoreVocab]] specifies the OSLC Core error responses. OSLC domain-name puts no additional constraints on error responses.</p>
</section>

<section id="pagination">
<h2>Pagination</h2>

<p>OSLC domain-name servers SHOULD support pagination of query results and MAY support pagination of a single resource's properties as defined by [[!OSLCCore3]].</p>
</section>

<section id="requestProps">
<h3>Requesting and Updating Properties</h3>

<section id="requestSubset">
<h4>Requesting a Subset of Properties</h4>

<p>A client MAY request a subset of a resource's properties as well as properties from a referenced resource. In order to support this behavior a server MUST support the <code>oslc.properties</code> and <code>oslc.prefix</code> URL parameter on a HTTP GET request on individual resource request or a collection of resources by query. If the <code>oslc.properties</code> parameter is omitted on the request, then all resource properties MUST be provided in the response.</p>
</section>

<section id="updateSubset">
<h4>Updating a Subset of Properties</h4>

<p>A client MAY request that a subset of a resource's properties be updated by using the [[LDPPatch]] <code>PATCH</code> method.</p>

<p>For compatibility with [[!OSLCCore2]], domain-name servers MAY also support partial update by identifying those properties to be modified using the <code>oslc.properties</code> URL parameter on a HTTP PUT request.</p>

<p>If the parameter <code>oslc.properties</code> contains a valid resource property on the request that is not provided in the content, the server MUST set the resource's property to a null or empty value. If the parameter <code>oslc.properties</code> contains an invalid resource property, then a <code>409 Conflict</code> MUST be returned.</p>
</section>

<section id="updatingMultiValueProps">
<h4>Updating Multi-Valued Properties</h4>

<p>For multi-valued properties that contain a large number of values, it may be difficult and inefficient to add or remove property values. OSLC RM servers MAY provide support for a partial update of the multi-valued properties as defined by draft specification [[LDPPatch]]. RM servers MAY also support partial updates through HTTP PUT where only the updated properties are included in the entity request body.
</section>
</section>

<section id="labels" class='informative'>
<h3>Labels for Relationships</h3>

<p>domain-name relationships to other resources are represented by RDF properties. Instances of a relationship - often called links - are RDF triples with a subject URI, a predicate that is the property, and a value (or object) that is the URI of target resource. When a link is to be presented in a user interface, it may be helpful to display an informative and useful textual label instead of or in addition to the URI of the predicate and or object. There are three items that clients could display:
<ul>
  <li><b>The property</b>: OSLC recommends using the rdfs:label property of the rdf:Property from the vocabulary to display the property.</li>
  <li><b>The value, or object of the triple</b>: OSLC recommends using OSLC resource preview [[!OSLCResourcePreview]] to obtain an appropriate icon and label, and possibly a small and/or large dialog for displaying the object.</li>
  <li><b>The link</b>: The link is a combination of the subject, predicate and object of the triple (RDF statement or assertion). In the case where the link requires a unique label that is not available from the target resource, only then OSLC servers may support a dcterms:title on a reified statement to provide a label for a link that describes the assertion itself.</li>
</ul></p> 

<p>Turtle example using a reified statement:</p>

<pre class="example">
@prefix ns0: &lt;http://open-services.net/ns/cm#&gt; .
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix dcterms: &lt;http://purl.org/dc/terms/&gt; .

&lt;http://example.com/bugs/4321&gt;
  a &lt;http://open-services.net/ns/cm#ChangeRequest&gt; ;
  ns0:relatedChangeRequest &lt;http://anotherexample.com/defects/123&gt; .

&lt;http://njh.me/#link1&gt;
  a rdf:Statement ;
  rdf:subject &lt;http://example.com/bugs/4321&gt; ;
  rdf:predicate ns0:relatedChangeRequest ;
  rdf:object &lt;http://anotherexample.com/defects/123&gt; ;
  dcterms:title &quot;Defect 123: Problems during install&quot; .
</pre>

<p>JSON-LD example using reified statement:</p>

<pre class="example">
{
  "@context": {
    "dcterms": "http://purl.org/dc/terms/",
    "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
    "oslc": "http://open-services.net/ns/core#",
    "oslc_cm": "http://open-services.net/ns/cm#"
  },
  "@id": "http://example.com/bugs/4321",
  "@type": "oslc_cm:ChangeRequest",
  "oslc_cm:relatedChangeRequest": {
    "@id": "http://anotherexample.com/defects/123",
    "dcterms:title": "Defect 123: Problems during install"
  }
}
</pre>
</section>
</section>

<section id='termsAndConstraints'>
  <h2>Vocabulary Terms and Constraints</h2>
  <p><a href="http://docs.oasis-open.org/oslc-domains/domain-short-name/v2.1/domain-short-name-v2.1-part1-domain-name-vocab.html">OSLC domain-name Resources 2.1</a>
    Defines the vocabulary terms and constraints for OSLC domain-name resources.
    These terms and constraints are specified according to [[!OSLCCoreVocab]].</p>
</section>

<section id="capabilities">
<h2>domain-name Server Capabilities</h2>

<section id="resources">
<h3>Server Resources</h3>

<p>domain-short-name Servers MUST provide one or more <code>oslc:ServiceProvider</code> resources. Discovery of OSLC Service Provider Resources MAY be via one or more OSLC Service Provider Catalog Resources, or may be discovered by some other and/or additional Provider-specific means beyond the scope of this specification. The <code>oslc:Service</code> resources referenced by this <code>oslc:ServiceProvider</code> MUST have an <code>oslc:domain</code> of <code>http://open-services.net/ns/rm#</code>.
</p>

<p>domain-short-name servers MAY provide other forms of discovery described in Core 3.0 Discovery.</p>

<p>domain-short-name Servers MAY provide one more more <code>oslc:ServiceProviderCatalog</code> resources. Any such catalog resources MUST include at least one <code>oslc:domain</code> of <code>http://open-services.net/ns/rm#</code>. Discovery of top-level OSLC Service Provider Catalog Resources is beyond the scope of this specification.
</p>

<p>Service providers MUST give an <code>oslc:serviceProvider</code> property on all OSLC Defined Resources. This property MUST refer to an appropriate <code>oslc:ServiceProvider</code> resource.
</p>
</section>

<section id="creationfactories">
<h3>Creation Factories</h3>

<p>OSLC domain-name Servers supporting resource creation MUST do so through <code>oslc:CreationFactory</code> resources, as defined by [[!OSLCCore3]]. Any such factory resources MUST be discoverable through <code>oslc:Service</code> resources. Servers SHOULD provide <code>oslc:ResourceShape</code> resources on <code>oslc:CreationFactory</code> resources as defined by [[!OSLCShapes]].</p>
</section>

<section id="querycapabilities">
<h3 id="querycapabilities">Query Capabilities</h3>

<p>Servers MUST support query capabilities, as defined by [[!OSLCCore3]]. Servers SHOULD provide <code>oslc:ResourceShape</code> on <code>oslc:QueryCapability</code> resources as defined by [[!OSLCShapes]].</p>

<p>The Query Capability, if supported, MUST support these parameters:</p>

<ul>
<li><code>oslc.where</code></li>
<li><code>oslc.select</code></li>
<li><code>oslc.properties</code></li>
<li><code>oslc.prefix</code></li>
</ul>

<p>Where <code>oslc:ResourceShape</code> is not supported by the Query Capability, Servers SHOULD use the following guidance to represent query results: <ul>
<li> For RDF/XML and XML, use <code>rdf:Description</code> and <code>rdfs:member</code> as defined by <a class="twikiAnchorLink" href="https://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations#RDF_XML_Examples">Core Specification Appendix B:Representations and Examples - RDF/XML Examples</a>.
</li> <li> For JSON the query results are contained within <code>oslc:results</code> array. See <a class="twikiAnchorLink" href="https://open-services.net/bin/view/Main/OSLCCoreSpecAppendixRepresentations#Guidelines_for_JSON">Core Specification Appendix B: Representations and Examples - Guidelines for JSON</a>.
</li></ul> 
</p>
The stability of query results is OPTIONAL (see <a class="twikiLink" href="https://open-services.net/bin/view/Main/OslcCoreSpecification">Core Specification Version 2.0 - Stable Paging</a>).</p>
</section>

<section id="delegatedUIs">
<h3>Delegated Dialogs</h3>

<p>Servers MUST support the selection and creation of resources by delegated web-based user interface dialogs <a href="http://docs.oasis-open.org/oslc-core/oslc-core/v3.0/oslc-core-v3.0-part4-delegated-dialogs.html">Delegated Dialogs</a> as defined by [[!OSLCCore3]]</p>

<p>Servers MAY support the pre-filling of creation dialogs based on the definition at <a href="http://docs.oasis-open.org/oslc-core/oslc-core/v3.0/oslc-core-v3.0-part4-delegated-dialogs.html">Delegated Dialogs</a>.</p>
</p>
</section>

<section id="usageidentifiers">
<h3>Usage Identifiers</h3>

<p>An OSLC domain-name servers MAY identify the usage of various services with additional property values for the <a href="http://docs.oasis-open.org/oslc-core/oslc-core/v3.0/oslc-core-v3.0-part2-discovery.html">OSLC Core Discovery</a> defined <code>oslc:usage</code> property on <code>oslc:Dialog</code>, <code>CreationFactory</code> and <code>QueryCapability</code>. The <code>oslc:usage</code> property value of <code>http://open-services.net/ns/core#default</code> SHOULD be used to designate the default or primary service to be used by consumers when multiple entries are found.</p>

<p>The additional domain-name property values for <code>oslc:usage</code> are:</p>

<ul>
<li><code></code></li>
</ul>
</section>
</section>

<section id="conformance">
<h2>Conformance</h2>

<p>This specification is based on [[!OSLCCore3]]. OSLC domain-short-name servers
MUST be compliant with both the core specification,  MUST follow all the mandatory requirements in the normative sections of this specification, and SHOULD follow all the guidelines and recommendations in both
these specifications.</p>

<p>An OSLC domain-short-name server MUST implement the domain vocabulary defined in <a href="">OSLC domain-name Version 2.1. Part 2: Vocabulary</a>

<p>The following table summarizes the requirements from OSLC Core Specification
as well as some additional requirements specific to the RM domain. Note that
this specification further restricts some of the requirements for OSLC Core
Specification. See the previous sections in this specification or the
OSLC Core Specification to get further details on each of these
requirements.</p>


<table border="1" cellspacing="0" cellpadding="5">
<thead>
<tr>
  <th><strong>Number</strong></th>
  <th><strong>Requirement</strong></th>
  <th><strong>Level</strong></th>
  <th><strong>Meaning</strong></th>
</tr>
</thead>
<tbody>
<tr>
  <td>domain-short-name-1</td>
  <td>Unknown properties and content</a></td>
  <td>MAY/MUST</td>
  <td>OSLC servers MAY ignore unknown content and OSLC clients MUST preserve unknown content</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Resource Operations</td>
  <td>MUST</td>
  <td>OSLC servers MUST support resource operations via standard HTTP operations</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Resource Paging</td>
  <td>MAY</td>
  <td>OSLC servers MAY provide paging for resources but only when specifically requested by client</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Partial Resource Representations</td>
  <td>MUST/MAY</td>
  <td>OSLC servers MUST support request for a subset of a resource's properties via the oslc.properties URL parameter retrieval via HTTP GET and MAY support via HTTP PUT</td> 
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Partial Update</td>
  <td>MAY</td>
  <td>OSLC servers MAY support partial update of resources using [[LDPPatch]].</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Discovery</td>
  <td>MAY/MUST</td>
  <td>OSLC servers MAY provide a Service Provider Catalog, MUST provide a Service Provider resource, and MAY provide other forms of discovery described in Core 3.0 Discovery.</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Creation Factories</td>
  <td>MUST/MAY</td>
  <td>OSLC servers MUST provide at least one creation factory resource for requirements and MAY provide creation factory resources for requirement collections</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Query Capabilities</td>
  <td>MUST</td>
  <td>OSLC servers MUST provide query capabilities to enable clients to query for resources </td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Query Syntax</td>
  <td>MUST</td>
  <td>OSLC query capabilities MUST support the OSLC Core Query Syntax</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Delegated UI Dialogs</td>
  <td>MUST</td>
  <td>OSLC Services MUST offer delegated UI dialogs (for both creation and selection) specified via service provider resource</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>UI Preview</td>
  <td>SHOULD</td>
  <td>OSLC Services SHOULD offer UI previews for resources that may be referenced by other resources </td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>HTTP Basic Authentication</td>
  <td>MAY</td>
  <td>OSLC Servers MAY support Basic Authentication and SHOULD only do so only over HTTPS</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>OAuth Authentication</td>
  <td>MAY</td>
  <td>OSLC Server MAY support OAuth and MAY indicate the required OAuth URLs via the service provider resource</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>Error Responses</td>
  <td>MAY</td>
  <td>OSLC Servers MAY provide error responses using Core defined error formats</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>RDF/XML Representations</td>
  <td>MUST</td>
  <td>OSLC servers MUST support RDF/XML representations for OSLC Defined Resources</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>XML Representations</td>
  <td>MUST</td>
  <td>OSLC servers MUST support XML representations that conform to the OSLC Core Guidelines for XML</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>JSON Representations</td>
  <td>MAY/MUST</td>
  <td>OSLC servers MAY support JSON representations; those which do MUST conform to the OSLC Core Guidelines for JSON</td>
</tr>
<tr>
  <td>domain-short-name-1</td>
  <td>HTML Representations</td>
  <td>MAY</td>
  <td>OSLC servers MAY provide HTML representations for GET requests</td>
</tr>
</tbody>
</table>
</section>
<section id="versionCompability" class="appendix">
<h2>Version Compatibility with 2.0 Specifications</h2>
<p></p>
</section>

<section class='appendix informative'>
  <h2>Acknowledgments</h2>
  <p>The following individuals have participated in the creation of this specification and are gratefully acknowledged:</p>

<p><b>Participants</b>:</p><p style="margin-left: 40px">
James Amsden, IBM (Editor)<br>
Geoff Clemm,  IBM<br>
Nick Crossley, IBM (Chair)<br>
Ian Green, IBM<br>
Peter Hack, IBM<br>
David Honey, IBM<br>
Sam Padget, IBM<br>
Martin Pain, IBM<br>
Martin Sarabura, PTC<br>
Brian Steele, IBM<br></p>
</section>


<section class="appendix informative" id="history">
<h2>Change History</h2>
<table border=1 cellspacing=0 cellpadding=0>
 <tr>
  <td width=103 valign=top style='width:77.4pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><b>Revision</b></td>
  <td width=96 valign=top style='width:1.0in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><b>Date</b></td>
  <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><b>Editor</b></td>
  <td width=295 valign=top style='width:221.4pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><b>Changes Made</b></td>
 </tr>
 <tr>
  <td>01</td>
  <td>07/06/2016</td>
  <td>Jim Amsden</td>
  <td>CSD was approved and published.</td>
</table>
</section>

</body>
</html>



