<!DOCTYPE html>
<html>
<!-- replace domain-name with your domain name, e.g., Change Management -->
<!-- replace domain-short-name with your domains's short name, e.g., cm -->
<head>
<meta charset='utf-8'/>
<title>OSLC Change Management Version 3.0. Part 2: Vocabulary</title>
<link rel="stylesheet" type="text/css" href="../styles/oslc-styles.css" />
<link rel="stylesheet" type="text/css" href="../styles/table-styles.css" />
<link rel="stylesheet" type="text/css" href="../styles/definition-styles.css" />
<script src='https://ndjc.github.io/respec/builds/oasis/respec-oasis-common.js' async class='remove'></script>
<script class='remove'>
  var respecConfig = {
    // specification status (e.g. WD, LCWD, WG-NOTE, etc.). If in doubt use ED.
    specStatus: "CSPRD",
    thisVersion : "http://docs.oasis-open.org/oslc-domains/domain-short-name/v3.0/csprd01/part2-domain-name-vocab/domain-short-name-v3.0-csprd01-part2-domain-name-vocab.html",
    latestVersion : "http://docs.oasis-open.org/oslc-domains/domain-short-name/v3.0/domain-short-name-v3.0-part2-domain-name-vocab.html",
    prevVersion : "N/A",

    // the specification's short name, as in http://www.w3.org/TR/short-name/
    shortName: "oslc-domain-short-name",

    // The revision level of the document within its stage
    revision: "01",

    // the document's citation label
    citationLabel: "OSLC-domain-short-name-3.0-Part2",

    // if your specification has a subtitle that goes below the main
    // formal title, define it here
    // subtitle   :  "an excellent document",

    // if you wish the publication date to be other than the last modification, set this
    // publishDate:  "2009-08-06",

    // if the specification's copyright date is a range of years, specify
    // the start date here:
    // copyrightStart: "2005"

    // if there is a previously published draft, uncomment this and set its YYYY-MM-DD date
    // and its maturity status
    // previousPublishDate:  "1977-03-15",
    // previousMaturity:  "WD",

    // if there a publicly available Editor's Draft, this is the link
    // edDraftURI:           "http://berjon.com/",

    // if this is a LCWD, uncomment and set the end of its review period
    // lcEnd: "2009-08-05",

    // chairs and editors, add as many as you like
    // only "name" is required
    chairs : [ {
      name : "Jim Amsden",
      mailto : "jamsden@us.ibm.com",
      company: "IBM",
      companyURL: "http://www.ibm.com/"
    }, {
      name : "Graham Bachelor",
      mailto: "gray_bachelor@uk.ibm.com",
      company: "IBM",
      companyURL: "http://www.ibm.com"
    }],

    editors:  [
        {
            name:       "Jim Amsden"
        ,   mailto:     "jamsden@us.ibm.com"
        ,   company:    "IBM"
        ,   companyURL: "http://www.ibm.com/"
        },
        {
            name:       "Samuel Padgett"
        ,   mailto:     "spadgett@us.ibm.com"
        ,   company:    "IBM"
        ,   companyURL: "http://www.ibm.com/"
        },
        {
            name:       "Steve Speicher"
        ,   mailto:     "sspeiche@us.ibm.com"
        ,   company:    "IBM"
        ,   companyURL: "http://www.ibm.com/"
        }
    ],

    // name of the WG
    wg:           "OASIS OSLC Lifecycle Integration Domains TC",
    wgShortName:  "oslc-domains",

    // URI of the public WG page
    wgURI:        "https://www.oasis-open.org/committees/oslc-domains/",

    // name (without the @w3c.org) of the public mailing to which comments are due
    wgPublicList: "oslc-domains",

    // URI of the patent status for this WG, for Rec-track documents
    // !!!! IMPORTANT !!!!
    // This is important for Rec-track documents, do not copy a patent URI from a random
    // document unless you know what you're doing. If in doubt ask your friendly neighbourhood
    // Team Contact.
    wgPatentURI:  "",
    // !!!! IMPORTANT !!!! MAKE THE ABOVE BLINK IN YOUR HEAD

    namespaces : [ {
            href : "http://open-services.net/ns/cm#",
            prefix : "oslc"
    } ],

    additionalArtifacts : [
      { title: "OSLC domain-name Version 2.1. Part 1: Specification", href: "http://docs.oasis-open.org/oslc-domains/domain-short-name/v2.1/csprd01/part1-domain-short-name/domain-short-name-v2.1-csprd01-part1-domain-name-spec.html" },
      { title: "OSLC domain-name Version 2.1. Part 2: Vocabulary (this document)", href: "http://docs.oasis-open.org/oslc-domains/domain-short-name/v2.1/csprd01/part2-domain-name-vocab/domain-short-name-v2.1-csprd01-part2-domain-name-vocab.html" },
    ],

    relatedWork : [
      { title: "Open Services for Lifecycle Collaboration domain-name Specification Version 2.0", href: "http://open-services.net/bin/view/Main/domain-name" }
    ],

    localBiblio:  {
      "OSLCActions" : {
          title:    "Open Services for Lifecycle Collaboration Actions Specification Version 2.0",
          href:     "http://open-services.net/bin/view/Main/CmSpecificationV2",
          authors:  ["Martin Pain", "Steve Speicher"],
          status:   "Finalization",
          publisher:  "http://open-services.net"
      },
      "OSLCRM": {
          title:    "Open Services for Lifecycle Collaboration Requirements Management Specification Version 2.0",
          href:     "http://open-services.net/bin/view/Main/RmSpecificationV2",
          authors:  ["Ian Green"],
          status:   "Final",
          publisher:  "http://open-services.net",
      },
      "OSLCQM": {
          title:    "Open Services for Lifecycle Collaboration Quality Management Specification Version 2.0",
          href:     "http://open-services.net/bin/view/Main/QmSpecificationV2",
          authors:  ["Paul McMahan"],
          status:   "Final",
          publisher:  "http://open-services.net",
      },
        "OSLCCore3": {
            title:    "OSLC Core Overview v3.0",
            href:     "http://docs.oasis-open.org/oslc-core/oslc-core/v3.0/oslc-core-v3.0-part1-overview.html",
            status:   "Committee Specification",
            authors:  ["Steve Speicher", "Jim Amsden"],
            publisher:  "OASIS",
        }
    }
  };
</script>
</head>
<body>
<section id="abstract">
<p>This specification defines a vocabulary and resource shapes for the OSLC domain-name domain.</p>
</section>

  <section id='toc'></section>
  <hr />
  <section id='sotd'></section>

<section id="introduction" class="informative">
<h2>Introduction</h2>

<p>his specification defines a vocabulary and resource shapes for the OSLC
    Requirements Management resources. The intent is to define resources needed to
    support common integration scenarios and not to provide a comprehensive
    definition of a Requirement. The resource formats may not match exactly
    the native models supported by requirement management service providers, but are
    intended to be compatible with them. The approach to supporting these
    scenarios is to delegate operations, as driven by service provider
    contributed user interfaces, as much as possible and not require a service
    provider to expose its complete data model and application logic.</p>

<figure>
  <img src="OSLCV3_CM.png" />
  <figcaption>OSLC domain-name 3.0 Overview</figcaption>
</figure>



<section id="terminology">
<h1>Terminology</h1>
<p>Terminology is based on OSLC Core Overview [[!OSLCCore3]], W3C Linked Data
    Platform [[!LDP]], W3C's Architecture of the World Wide Web [[WEBARCH]],
    Hyper-text Transfer Protocol [[!HTTP11]]. Terminology for this specification is defined in part 1 of the multi-part specification.</p>
<!--
<dl>
    <dt class='loc-heading'>Term-xxx</dt>
    <dd>...</dd>
</dl>
-->
</section>

<section id='references'><h3>References</h3></section>


<section id="conventions">
<p>In addition to the namespace URIs and namespace prefixes <code>oslc</code>, <code>rdf</code>, <code>dcterms</code> and <code>foaf</code> defined in the <a href="http://docs.oasis-open.org/oslc-core/oslc-core/v3.0/oslc-core-v3.0-part1-overview.html">OSLC Core specification</a>, OSLC domain-short-name defines the namespace URI of <code>http://open-services.net/ns/domain-short-name#</code> with a namespace prefix of <code>oslc_domain-short-name</code></p>

<p>This specification also uses these namespace prefix definitions:</p>

<ul>
<li>oslc_rm : <code>http://open-services.net/ns/rm#</code> [[OSLCRM]]</li>
<li>oslc_qm : <code>http://open-services.net/ns/qm#</code> [[OSLCQM]]</li>
</ul>
</section>

</section>

<section id="domain-short-nameVocab">
  <h2>domain-name Vocabulary Terms</h2>
  <p>This specification defines the <em>root</em> superclass, and a number of specific, commonly occurring subclasses, properties and values. Servers may define additional <em>root</em> subclasses and provide additional properties as needed.</p>
    <div title='RDF Vocabulary for OSLC domain-name Domain'
        data-include='./domain-name-vocab.ttl'
        data-oninclude='vocabToSpec'
        data-include-sync='true' 
        data-include-replace='true'
        data-include-format='html'></div>
</section>
  

<section id="resourceDefinitions">
<h2>domain-name Resource Constraints</h2>
<section id="requirement">
<h3>Resource: a-resource</h3>
<p>
The constraints on a-resource properties are defined in the tables below. a-resource properties are not limited to the ones defined in this specification. Service providers may provide additional properties. It is strongly recommended that any additional properties be defined in XML namespaces distinct from those defined by OSLC in these specifications. a-resource creation through a Creation Factory resource in the Service Description is REQUIRED by this specification.
</p>
<p>
Any <strong>resource</strong> asserted to be of <code>rdf:type</code> <code>http://open-services.net/ns/rm#a-resource</code> MUST conform to the constraints and meaning of properties defined below. Notice that partial representations of a requirement resource are admitted by this specification (for example, in query results, or where <code>oslc.properties</code> has been used), and such partial representations will in general not conform to these constraints.
</p> 

<div title='Shape for oslc_rm:a-resource'
        data-include='./domain name-shapes.ttl#a-resource'
        data-oninclude='shapeToSpec'
        data-include-sync='true'
        data-include-replace='true'
        data-include-format='html'></div>

</section>
</section>


<section class="appendix informative" id="history">
<h2>Change History</h2>
<table border=1 cellspacing=0 cellpadding=0>
 <tr>
  <td width=103 valign=top style='width:77.4pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'><b>Revision</b></td>
  <td width=96 valign=top style='width:1.0in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><b>Date</b></td>
  <td width=144 valign=top style='width:1.5in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><b>Editor</b></td>
  <td width=295 valign=top style='width:221.4pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'><b>Changes Made</b></td>
 </tr>
 <tr>
  <td>01</td>
  <td>07/06/2016</td>
  <td>Jim Amsden</td>
  <td>Initial CSPRD01</td>
 </tr>
</table>
</section>
</body>
</html>
