@charset "UTF-8";
/* CSS Document */
.red {
	color: #FF0000;
}
.indent {
	margin-left: 2em;
}
body     {
           margin-left: 3pc;
           font-family: sans-serif,arial, helvetica;
         }
ul.toc {
	list-style-type: none;
}